* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}


.border-orange {
  border-top: 10px solid orange;
}

.wrapper {
  display: block;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, 1fr);
  margin: auto;
  max-width: 1000px; 
}

.header {
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-right>img {
  max-width: 600px;
}

.home {
  max-width: 50px;
  max-height: auto;
}

.nav-left>ul>li {
  list-style: none;
}
  
.nav-left>ul {
  display: flex;
  justify-content: space-between;
 

}
.nav-left{
  min-width: 35%;

}
.nav-right {
  display: flex;
 
}
#search{
  max-height: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #fbf2ea;
}

.hero, .security {
  background-color: #fbf2ea;
}

strong {
  background-color: #ebf8f2;
}


.aktuellt {
  display: flex;
  justify-content: space-between;

}

.item {
  max-width: 33%;
}

.item>h3 {
  color: #F35B1C;
}

.item>img {
  max-width: 100%;
}

.links{
  display: flex;
  justify-content: space-between;
  background-color: #fbf2ea;
}
.last-section{
  background-color:#fff8f2;
}
.cards{
  display: flex;
}