
body {
  margin: 0;
  padding: 0;
}

.border-orange {
  border-top: 10px solid orange;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, 1fr);
  margin: auto;
  max-width: 1000px; 
}

.header {
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  width: 100%;
}

.hero-right>img {
  width: 50%;
  align-items: flex-end;
}

.home {
  max-width: 50px;
  max-height: auto;
}

.nav-left>ul>li {
  list-style: none;
}

.nav-left>ul {
  display: flex;
}

.nav-right {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #fbf2ea;
}

.hero, .security {
  background-color: #fbf2ea;
}

strong {
  background-color: #ebf8f2;
}

